*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
    font-family: 'Titillium Web';
    background-color: gray;
}
.main{
    min-height: 596px;   
    background-color: #87509c;
    
}
.conteiner{
    max-width: 1140px;
    height: 596px;
    margin: 0 auto;
    padding: 0 20px;

}
.header{
    min-height: 37px;
    background-color: green;
    padding: 57px 0 0 0;
    text-align: center;

}
.logo{
    margin: 0 483px 0 0;

}
.navbar{
    display: inline-block;
    margin: 10px 0 0 0;
}
.navlink{
    padding: 10px 17px;
    
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
}
.navlink:hover{
    background-color: #643a79;

}
.title{
    max-width: 906px;
    margin: 145px auto 82px;
    font-size: 42px;
    font-weight: 700;
    color: #f7f3ea;
    line-height: 48.82px;
    text-align: center;

}
.button{
    padding: 28px 80px;
    background-color: #eb7d4b;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    
}
.btn{
    text-align: center;
}

}


}